html {
	background-image: url("plants.jpg");
 	 background-position: center;
   background-size: cover;
	 background-repeat: no-repeat;
}



body {
    font: 100%/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  	 width: 800px;
	 margin: 0 auto;
	background: white;

}

#page-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    text-shadow: 2px 2px 2px gray;
	background-image: linear-gradient(45deg, #8FBC8F, white);
	padding: 1em 0;

}

nav {
    text-align: center;
    background-color: #8FBC8F;
      	width: 50%;
      	margin: 1em auto;
	    box-shadow: 5px 5px 2px grey;
		border-radius: 10px;

}

a.menu-link {
    text-decoration: none;
}

article > p {
    line-height: 1.5;
    text-indent: 2em;
    padding: 1em 30px;

}

footer p {
    text-align: center;
}
